@import "tailwindcss";
@config "../tailwind.config.js";
/* Indique explicitement où est votre config */

/* Force le fond sombre pour vérifier si ça marche */
html,
body {
  background-color: #0D0F10;
  color: white;
}